@import "./preflight.css";
@import "./font-face.css";
@import "./palette.css";

:root {
	--offset: color-mix(in srgb, var(--page-fill) 90%, var(--link-line));

	--selection-fill: color-mix(
		in srgb,
		var(--blue-crayola),
		var(--page-fill) 50%
	);
	--page-fill: white;
	--page-line: black;
	--shaded-fill: color-mix(in srgb, var(--page-fill) 90%, var(---page-line));
	--shaded-line: var(--page-line);
	--banner-fill: var(--shaded-fill);
	--meta-theme-color: var(--banner-fill);
	--banner-line: var(--shaded-line);
	--cherry-colour: var(--cherries-line);
	--contrast-fill: var(--page-line);
	--contrast-line: var(--page-fill);

	--link-fill: transparent;
	--link-line: var(--f-blue);

	--entry-fill: var(--page-fill);
	--entry-line: var(--page-line);

	--entry-bar-fill: var(--contrast-fill);
	--entry-bar-line: var(--contrast-line);

	--li-1: rgba(255, 255, 245);
	--li-2: rgba(255, 250, 255);
	--li-3: rgba(230, 255, 240);
	--li-4: rgba(240, 255, 255);
	--li-5: rgba(255, 230, 240);
	--li-6: rgba(240, 240, 255);

	--text-family: Jost, "Jost*", Futura, sans-serif;
	--mono-family: "Iosevka QP", "Iosevka", monospace;
	--tag-family: var(--mono-family);
	--banner-family: var(--sans-family);
	--page-family: var(--sans-family);
	--entry-bar-family: var(--sans-family);
	--entry-family: var(--sans-family);
	--heading-family: var(--entry-family);
	--title-family: var(--heading-family);
	--heading-weight: 600;
	--title-weight: var(--heading-weight);

	--quote-fill: var(--offset);
	--quote-line: var(--line);
	--quote-left-border-line: var(--link-line);
	--quote-family: var(--sans-family);

	--reading-width: 84ex;
	--entry-radius: 14px;

	--background-size: 72px;

	--code-comment: #a2b2d4;
	--code-number: #2d83f9;
	--code-name: #20c99b;
	--code-constant: #aa3565;
	--code-function: #7633cf;
	--code-keyword: #1b999f;
	--code-string: #363;
	--code-string-fill: #acffcc33;
	--code-regex-fill: #ff000011;
	--code-regex: black;

	--code-fill: var(--offset);
	--inline-code-fill: var(--code-fill);
	--code-line: var(--line);
	--inline-code-line: var(--code-line);
	--code-border-line: var(--code-line);

	--canvas-fill: var(--shaded-fill);
	--canvas-line: var(--shaded-line);
	--scrollbar-front: var(--shaded-line);
	--scrollbar-back: var(--shaded-fill);

	--tag-fill: var(--lemon);
	--tag-line: black;
}

* {
	scrollbar-color: var(--scrollbar-front) var(--scrollbar-back);
	image-rendering: pixelated;
	overscroll-behavior-y: none;
}

::selection {
	background: var(--selection-fill);
	color: var(--selection-line);
}

html {
	height: 100%;
	font-size: 1.2em;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-bottom: var(--extra-bottom);
	flex-direction: column;
	font-family: var(--text-family);
	color: var(--page-line);
	display: flex;
}

main {
	flex: 1;
}

code {
	font-family: var(--mono-family);
}

[hidden] {
	display: none;
}

img,
video {
	max-width: 100%;
	image-rendering: pixelated;
}

a {
	text-decoration-skip-ink: auto;
	color: var(--link-line);
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip-path: inset(50%);
	white-space: nowrap;
}
