@font-face {
	font-family: Jost;
	font-style: normal;
	font-weight: 100 900;
	font-display: fallback;
	src: url("/fonts/jost-vf.ttf") format("truetype");
}

@font-face {
	font-family: Jost;
	font-style: italic;
	font-weight: 100 900;
	font-display: fallback;
	src: url("/fonts/jost-vf.ttf") format("truetype");
}

@font-face {
	font-family: "Iosevka QP";
	font-style: normal;
	font-weight: 100 200;
	font-display: fallback;
	src: url("/fonts/iosevka-qp-light.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka QP";
	font-style: normal;
	font-weight: 300 400;
	font-display: fallback;
	src: url("/fonts/iosevka-qp-regular.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka QP";
	font-style: normal;
	font-weight: 500 900;
	font-display: fallback;
	src: url("/fonts/iosevka-qp-bold.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka QP";
	font-style: italic;
	font-weight: 100 200;
	font-display: fallback;
	src: url("/fonts/iosevka-qp-lightitalic.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka QP";
	font-style: italic;
	font-weight: 300 400;
	font-display: fallback;
	src: url("/fonts/iosevka-qp-italic.woff2") format("woff2");
}
@font-face {
	font-family: "Iosevka QP";
	font-style: italic;
	font-weight: 500 900;
	font-display: fallback;
	src: url("/fonts/iosevka-qp-bolditalic.woff2") format("woff2");
}

:root {
	--green: #33ffcc;
	--blue: #33ccff;
	--dark-blue: #03c;
	--red: #ff2a50;
	--orange: #ff7c7a;
	--mustard: #fe8;
	--lemon: #ff8;
	--f-blue: #2269ff;
	--cherries-fill: #ffe9ed;
	--cherries-line: #cc2959;

	--fill: white;
	--line: black;
	--offset: color-mix(in srgb, var(--fill) 96%, var(--link-line));

	--page-fill: var(--fill);
	--page-line: var(--line);
	--shaded-fill: color-mix(in srgb, var(--fill) 90%, var(--line));
	--shaded-line: var(--line);
	--banner-fill: var(--shaded-fill);
	--meta-theme-color: var(--banner-fill);
	--banner-line: var(--shaded-line);
	--cherry-colour: var(--cherries-line);
	--contrast-fill: var(--line);
	--contrast-line: var(--fill);

	--link-fill: transparent;
	--link-line: var(--f-blue);

	--entry-fill: var(--fill);
	--entry-line: var(--line);

	--entry-bar-fill: var(--contrast-fill);
	--entry-bar-line: var(--contrast-line);

	--entry-shadow: color-mix(in srgb, var(--page-line) 20%, var(--page-fill));

	--li-1: rgba(255, 255, 245);
	--li-2: rgba(255, 250, 255);
	--li-3: rgba(230, 255, 240);
	--li-4: rgba(240, 255, 255);
	--li-5: rgba(255, 230, 240);
	--li-6: rgba(240, 240, 255);

	--text-family: Jost, "Jost*", Futura, sans-serif;
	--mono-family: "Iosevka QP", "Iosevka", monospace;
	--banner-family: var(--sans-family);
	--page-family: var(--sans-family);
	--entry-bar-family: var(--sans-family);
	--entry-family: var(--sans-family);
	--heading-family: var(--entry-family);
	--title-family: var(--heading-family);
	--heading-weight: 600;
	--title-weight: var(--heading-weight);

	--quote-fill: var(--offset);
	--quote-line: var(--line);
	--quote-left-border-line: var(--link-line);
	--quote-family: var(--sans-family);

	--reading-width: 84ex;
	--entry-radius: 14px;

	font-size: 1.2em;
	line-height: 1.2;

	--background-size: 72px;

	--code-comment: #a2b2d4;
	--code-number: #2d83f9;
	--code-name: #20c99b;
	--code-constant: #aa3565;
	--code-function: #7633cf;
	--code-keyword: #1b999f;
	--code-string: #363;
	--code-string-fill: #acffcc33;
	--code-regex-fill: #ff000011;
	--code-regex: black;

	height: 100%;
	background-color: var(--page-fill);
	color: var(--page-line);

	--code-fill: var(--offset);
	--inline-code-fill: var(--code-fill);
	--code-line: var(--line);
	--inline-code-line: var(--code-line);
	--code-border-line: var(--code-line);

	--canvas-fill: var(--shaded-fill);
	--canvas-line: var(--shaded-line);

	--tag-fill: var(--lemon);
	--tag-line: black;
	--header-size: 2.6rem;
}

html,
body {
	font-family: var(--family-text);
	margin: 0;
}

::selection {
	background: cyan;
}

body.has-cherries-background {
	background-image: var(--background-image);
	background-size: var(--background-size);
	background-repeat: var(--background-repeat);
	background-attachment: var(--background-attachment);
	background-position: var(--background-position);
}

body {
	contain: layout;
	min-height: 100vh;
	padding-bottom: var(--extra-bottom);
}

code {
	font-family: var(--family--mono);
}

[hidden] {
	display: none;
}

* {
	scrollbar-color: var(--shaded-line) var(--shaded-fill);
	image-rendering: pixelated;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
video {
	max-width: 100%;
	image-rendering: pixelated;
}

a {
	background: var(--line-fill);
	color: var(--link-line);
	text-decoration-skip-ink: auto;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
