---
import navigation from "./navigation.ts"
const [next, prev] = await navigation(Astro.params.slug ?? "")
---

{
	(prev != null || next != null) && (
		<nav>
			{prev && <a href={`/${prev.id}/`}>← {prev.data.title ?? prev.id}</a>}
			{next && <a href={`/${next.id}/`}>{next.data.title ?? next.id} →</a>}
		</nav>
	)
}

<style></style>
