<!doctype html>
<html lang="en">
	<meta charset="utf-8" />
	<title>😟 my fault | chee.party</title>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<style>
		::selection {
			background: #0fd !important;
		}
		html {
			background: #f7f7f7;
			font-family: monospace;
			line-height: 1.7;
			padding: 1em 2em;
		}

		h1,
		h3 {
			border-radius: 4px 4px 0 0;
			background-image: linear-gradient(#ff2a50, #ff225f);
			color: white;
			padding: 10px;
			margin-bottom: 0;
			text-align: center;
			position: relative;
			margin: auto;
		}

		ul {
			padding: 1.5em;
			list-style-type: none;
			margin: 0;
			text-align: center;
		}

		.content {
			background: #fff;
			border-radius: 10px 10px 5px 5px;
			margin: auto;
			border: 1px solid #f0f0f0;
		}

		.content:first-child {
			margin-bottom: 1em;
		}

		.inner {
			padding: 1% 10%;
			overflow: auto;
			max-height: 500px;
		}

		::-webkit-scrollbar {
			background: #3f3f3f;
			width: 18px;
		}

		::-webkit-scrollbar-thumb {
			background: #ff2a50;
		}

		@keyframes lol {
			20% {
				transform: scale(0.5) rotate(-10deg);
			}
			50% {
				transform: scale(2);
			}
			100% {
				transform: scale(0.5) rotate(10deg);
			}
		}

		.omg {
			animation: lol 1s infinite ease-in-out;
			display: inline-block;
			position: absolute;
		}

		.omg:first-child {
			left: 0.95em;
			animation-direction: reverse;
		}

		.omg:last-child {
			right: 0.65em;
			animation-delay: 0.1s;
		}
	</style>
	<div class="content">
		<h1><span class="omg">OMG</span>404<span class="omg">;-;</span></h1>
		<div class="inner">
			<p>
				i am really sry, but <em id="that_page">that page</em> does not exist and
				i am so crying and crying about it.
			</p>

			<p>try going <a href="/">home</a></p>

			<p><strong>i'm really awfully sorry about all this</strong></p>

			<p>
				i hope that this has not ruined your life. perhaps a link was out of
				date. perhaps <strong>*you*</strong> spelt something wrongly. yes, it was
				probably that. it's most likely your fault. regardless of how i feel about
				you, you are error prone. never concentrating on what you are doing. always
				busy chatting away, thinking about something else, eating, skipping rope,
				&amp;c when you could + should be clearminded and typing a uri.
			</p>

			<p>
				what i'm trying to say is that that page was not found, and that i hope
				this hasn't ruined your day.
			</p>
		</div>
	</div>


</html>
