---
import BaseHead from "../components/head/base-head.astro"
import Header from "../components/header/header.astro"
import Footer from "../components/footer/footer.astro"
import {SITE_TITLE, SITE_DESCRIPTION} from "../consts"
import Cherries from "../components/header/cherries.astro"
import Clouds from "../components/header/clouds.astro"
import Status from "../components/status.tsx"
---

<!doctype html>
<html lang="en-CA" class="root">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}>
			<slot name="importmap" slot="importmap" />
			<slot name="head" />
		</BaseHead>
	</head>
	<body class="body">
		<Header />
		<main>
			<section>
				<p>hi! i'm ✨ <b>chee rabbits</b> ✨</p>

				<p>welcome to my website.</p>

				<p>
					you can e-mail me at
					<a href="mailto:home@chee.party"> party@chee.party</a>
				</p>

				<p>
					visit <a href="https://quietparty.net"
						><Clouds style="margin-right: .5ch" />quiet party</a
					>
					to listen to my music
				</p>

				<p>
					i publish source code on <a href="https://github.com/chee"
						>microsoft github.com/chee</a
					>
				</p>

				<p>
					and i write a blog here at
					<a href="/cherries/"
						><Cherries
							stem="green"
							cherries="red"
							style="margin-right: .25ch"
						/>cherries</a
					>
				</p>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
	.root {
		background: #fcda40;
		--scrollbar-back: #fcda40;
		--scrollbar-front: #fcfcfc;
	}

	a {
		/* display: inline-flex; */
	}

	main {
		font-family: var(--text-family);
		font-size: 1.4em;
		display: flex;
		flex-direction: column;
		margin: auto;
		place-items: center;
		place-content: center;
		height: 100%;
		padding: 1rem;
		> section {
			display: flex;
			flex-direction: column;
			gap: 1em;
			border-radius: 8px;
			border: 1px solid;
			padding: 1em;
			box-shadow:
				-1px -1px black,
				2px 2px black,
				3px 3px black,
				4px 4px black,
				5px 5px black;
			background: white;
			animation: shivering-shadow 5s ease-in-out infinite alternate;
		}
	}
	@media (min-width: );
</style>
