---
import {SITE_TITLE} from "../../consts"
import Cherries from "./cherries.astro"
import Clouds from "./clouds.astro"
const cherryColour = "#ff2284"
---

<header>
	<a href="/">
		<span>🐰</span>
		<span>chee</span>
	</a>
	<a href="/cherries/" class="cherry-link" style=`color: ${cherryColour}`>
		<Cherries cherries={cherryColour} stem="#40dcba" />
		<span>{SITE_TITLE}</span>
	</a>

	<a href="https://quietparty.net">
		<Clouds />
		<span>quiet party</span>
	</a>
</header>

<style>
	:root {
		font-family: var(--mono-family);
		--header-height: 2rem;
	}

	header {
		margin: 0;
		background: black;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		font-weight: 500;
		color: white;
		position: sticky;
		top: 0;
		z-index: 100;
		display: flex;
		place-items: center;
		place-content: space-between;
		line-height: 1.2;
		padding: 0.5em;
	}

	a {
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
		display: flex;
		place-content: center;
		place-items: center;
		gap: 0.5ex;
	}

	a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
