---
import {SITE_TITLE} from "../../consts"
import Cherries from "./cherries.astro"
import Clouds from "./clouds.astro"
---

<header>
	<nav>
		<p><a href="/">🐰 chee</a></p>
		<p style="color: #ff2a50">
			<a href="/cherries/">
				<Cherries cherries="#ff2a50" stem="#40dcba" />
				{SITE_TITLE}
			</a>
		</p>
		<p style="color: white">
			<a href="https://quietparty.net">
				<Clouds style="margin-right: .5ch" />quiet party
			</a>
		</p>
	</nav>
</header>

<style>
	:root {
		font-family: var(--mono-family);
	}
	header {
		margin: 0;
		padding: 0 1em;
		background: black;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		font-weight: 500;
		color: white;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
