---
import CommonHead from "../components/head/common-head.astro"
import Header from "../components/header/header.astro"
import Footer from "../components/footer/footer.astro"

type Props = {
	title?: string | null
	description?: string | null
}

const {title, description} = Astro.props
---

<html lang="en-CA" class="cherries">
	<head>
		<CommonHead title={title ?? ""} description={description ?? ""}>
			<slot name="importmap" slot="importmap" />
			<slot name="head" />
		</CommonHead>
		<style>
			.cherries {
				/* background: #efe1ff; */
				/* background: #ecddff; */
				background: #fbf6ff;
				--scrollbar-front: black;
				--scrollbar-back: rgb(255, 202, 230);
			}
		</style>
	</head>

	<body>
		<Header><slot name="header" /></Header>
		<slot />
		<Footer><slot name="footer" /></Footer>
	</body>
</html>
