---
import type {CollectionEntry} from "astro:content"
import BaseLayout from "./base-layout.astro"
import EleventyCherriesHead from "../components/head/eleventy-cherries-head.astro"
import EleventyCherriesImportMap from "../components/head/eleventy-cherries-importmap.astro"

type Props = CollectionEntry<"eleventyCherries">["data"]

const {title} = Astro.props
---

<BaseLayout title={title} class="eleventy-cherries-root">
	<EleventyCherriesImportMap slot="importmap" />
	<EleventyCherriesHead slot="head" />
	<Fragment slot="head">
		<style is:global>
			.eleventy-cherries-root {
				font-family: Jost, "Jost*", sans-serif;

				font-size: 1.2em;
				line-height: 1.2;

				height: 100%;
				background-size: 72px;
				background: url("/cherry-tiles.avif") var(--cherries-fill);
				color: var(--cherries-line);

				::-webkit-scrollbar {
					background: linear-gradient(to right, #ccc, #fff 20%, #ddd);
					cursor: default;
				}

				::-webkit-scrollbar {
					background: linear-gradient(to bottom, #ccc, #fff 20%, #ddd);
					cursor: default;
				}

				::-webkit-scrollbar-track:vertical {
					background: linear-gradient(to right, #eee, #fff);
					border-left: 1px solid #ccc;
					border-top: 1px solid #bbb;
					border-bottom: 1px solid #ddd;
					width: 16px;
					border-radius: 100px;
					box-shadow:
						inset 2px 0 3px #0002,
						inset 0 -2px 3px #0003,
						inset 0 2px 3px #0003;
				}

				::-webkit-scrollbar-track:vertical:window-inactive {
					box-shadow:
						inset 2px 0 3px #0041,
						inset 0 -2px 3px #0041,
						inset 0 2px 3px #0041;
				}

				::-webkit-scrollbar-track:horizontal {
					background: linear-gradient(to bottom, #eee, #fff);
					border-top: 1px solid #ccc;
					border-left: 1px solid #bbb;
					border-right: 1px solid #ddd;
					width: 16px;
					border-radius: 100px;
					box-shadow:
						inset 0 2px 3px #0002,
						inset -2px 0 3px #0003,
						inset 2px 0 3px #0003;
				}

				::-webkit-scrollbar-track:horizontal:window-inactive {
					box-shadow:
						inset 0 2px 3px #0041,
						inset -2px 0 3px #0041,
						inset 2px 0 3px #0041;
				}

				::-webkit-scrollbar-thumb:vertical {
					background: linear-gradient(
							to right,
							#f66 10%,
							#fff4 20%,
							#f66 30%,
							#c36
						),
						linear-gradient(to bottom, #f60 5px, #f660 10px),
						linear-gradient(to top, #f66 5px, #f660 10px);
					border: 1px solid #ccc;
					box-sizing: border-box;
					box-shadow: inset 0 0 4px #004;
					min-height: 30px;
					-webkit-border-radius: 100px;
				}

				::-webkit-scrollbar-thumb:vertical:window-inactive {
					background: linear-gradient(to bottom, #eee 5px, #eee0 10px),
						linear-gradient(to top, #eee 5px, #eee0 10px),
						linear-gradient(to right, #ddd 10%, #fff 20%, #eee 30%, #fff);
					box-shadow: inset 0 0 4px #0044;
				}

				::-webkit-scrollbar-thumb:horizontal {
					background: linear-gradient(
							to bottom,
							#f66 10%,
							#fff4 20%,
							#f66 30%,
							#c36
						),
						linear-gradient(to right, #f60 5px, #f660 10px),
						linear-gradient(to left, #f66 5px, #f660 10px);
					border: 1px solid #ccc;
					box-sizing: border-box;
					box-shadow: inset 0 0 4px #004;
					min-width: 30px;
					-webkit-border-radius: 100px;
				}

				::-webkit-scrollbar-thumb:horizontal:window-inactive {
					background: linear-gradient(to right, #eee 5px, #eee0 10px),
						linear-gradient(to left, #eee 5px, #eee0 10px),
						linear-gradient(to bottom, #ddd 10%, #fff 20%, #eee 30%, #fff);
					box-shadow: inset 0 0 4px #0044;
				}

				::-webkit-scrollbar-thumb:active {
					box-shadow: inset 0 0 7px #004;
				}

				::-webkit-scrollbar-corner {
					background: linear-gradient(to right, #ccc, #fff 20%, #ddd);
				}

				body {
					background-image: var(--background-image);
					background-size: var(--background-size);
					background-repeat: var(--background-repeat);
					background-attachment: var(--background-attachment);
					background-position: var(--background-position);
					contain: layout;
					padding-bottom: var(--extra-bottom);
				}

				* {
					scrollbar-color: var(--shaded-line) var(--shaded-fill);
					image-rendering: pixelated;
				}
				::selection {
					background: #13ffbcba;
				}

				--entry-shadow: color-mix(
					in srgb,
					var(--cherries-line) 20%,
					var(--cherries-fill)
				);
			}
		</style>
	</Fragment>
	<main class="main">
		<slot />
	</main>
</BaseLayout>
